<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
</head>
<body>
    <div class="login">
        <form action="" method="POST">
            <h1>Registration Form</h1>
            <label>Name:</label>
            <input type="text" id="name" name="name" required>
            
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
            
            <label for="email">Phone Number:</label>
            <input type="number" id="phno" name="phno" pattern="\d{10}" required>
            
            <label >PAN Card Number:</label>
            <input type="text" id="pan" name="pan" pattern="[A-Z]{5}[0-9]{4}[A-Z]{1}" maxlength="10" required>
            
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            
            <button name="submit">Register</button>
        </form>
    </div>
</body>
</html> 
