<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href="{{ url_for('static', filename='css/view_plot.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
   

    <title>View Plots</title>
   
    </style>
</head>
<body>
    <h1>Your Plots</h1>
    <div id="container">
        <div class="property-cards">
    
        {% for plot in plots %}
        <div class="card">
                <img src="{{ plot.img }}" alt="{{ plot.img }}"><br>
                <strong>{{ plot.location }}</strong><br>
                Size: {{ plot.size }}<br>
                Price: {{ plot.price }}<br>
                Features: {{ plot.features }}<br><br>
                <button class="btnv" onclick="edit_plots({{plot.id}})">
                Edit Details</button>
                <button class="btnd" onclick="delete_plot()">
                <i class="fa-solid fa-ban"></i>Delete Plot</button>
            </div>
            <script>function edit_plots(pid) {
                // JavaScript variable you want to send to the Flask backend
                var id = pid;
            
                // Redirect to the Flask route with the variable in the URL
                window.location.href = `/edit_plot?pid=${pid}`;
            }</script>
        {% endfor %}
       

</div>

    <a href="/add_plot">Add a New Plot</a>
</body>
</html>


