<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <title>Hospital Login</title>
</head>
<body>
    <div class="login">
    
    <form method="POST">
        <h1>Hospital Login</h1>
        <label for="license_number">License Number:</label><br>
        <input type="text" id="license_number" name="license_number" required><br><br>
        
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required><br><br>
        
        <input type="submit" class="button1" name="login" value="Login">
        <a href="">Back to Home</a>
    </form>
    <br>
</div>
</body>
</html>