<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <title>Health Card Registration</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="registration-container">
        <div class="card">
            <div class="logo">
                <img src="{{ url_for('static', filename='img/images1.jpeg') }}" alt="Health Card Logo">
            </div>
            <h2>Register Health Card</h2>
            <form id="registrationForm">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" placeholder="Enter your name" required>

                <label for="dob">Date of Birth</label>
                <input type="date" id="dob" name="dob" required>

                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="Enter your email" required>

                <label for="phone">Phone Number</label>
                <input type="tel" id="phone" name="phno" placeholder="Enter your phone number" required>

                <input type="radio" name="gen" value="male"> <label for="phone">Male</label>
                <input type="radio" name="gen" value="female"> <label for="phone">Femail</label>
                <input type="radio" name="gen" value="other"> <label for="phone">Other</label>
        
                <label for="address">Password</label>
                <input type="text" id="pass" name="pass" placeholder="Enter the password" required>
                <div class="form-group">
                    <label for="images">Upload Images:</label>
                    <input type="file" id="images" name="img" multiple>
                </div>

                <button name="submit">Register</button>
            </form>
            <div class="footer">
                <a href="#"><img src="home_icon.png" alt="Home"></a>
                <a href="#"><img src="linkedin_icon.png" alt="LinkedIn"></a>
                <a href="#"><img src="lock_icon.png" alt="Secure"></a>
                <a href="#"><img src="phone_icon.png" alt="Contact"></a>
            </div>
        </div>
    </div>
    <script src="script.js"></script>
</body>
</html>
