<!DOCTYPE html>
<html>
<head>
    <title>Patient Dashboard</title>
    <style>
        body {
            font-family: sans-serif;
            text-align: center;
        }
        h1 {
            color: #333;
        }
        img {
            border: 1px solid #ccc;
            box-shadow: 2px 2px 5px #888;
        }
    </style>
</head>
<body>
    <h1>Patient Dashboard</h1>
    <img src="data:image/png;base64,{{ plot_url }}" />
    <img src="data:image/png;base64,{{ plot_url1 }}" />
</body>
</html>